{% extends "website/_layouts/base.html" %}
{% load widget_tweaks %}
{% block conteudo %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <p>Logged out efetuado com sucesso!</p>

                    <a href="{% url 'login'%}">Clique aqui para logar novamente.</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

