{% extends "website/_layouts/base.html" %}
{% load widget_tweaks %}
{% block conteudo %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">

                        {% if form.errors %}
                            <p>Usuário ou senha não válidos. Efetue o login novamente!</p>
                        {% endif %}

                        {% if next %}
                            {% if user.is_authenticated %}
                            <p>Sua conta não possuí acesso a esta página efetue o login com um usuário válido.</p>
                            {% else %}
                            <p>Por favor faça login para ver esta página.</p>
                            {% endif %}
                        {% endif %}
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <label>{{ form.username.label_tag }}</label>
                                    {{ form.username|add_class:'form-control'  }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <label>{{ form.password.label_tag }}</label>
                                    {{ form.password|add_class:'form-control' }}
                                </div>
                            </div>
                            <br/>

                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <input type="submit" value="login" class="btn btn-primary" name="">
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <div class="col-md-6 offset-md-3">
                                <p><a href="{% url 'password_reset' %}">Recuperar a senha?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
