{% extends "website/_layouts/base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block title %}Cadastro de Pedidos{% endblock %}

{% block conteudo %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Consultar/Atualizar de Pedido</h5>                       
                        <form method="post">
                            <!-- Não se esqueça dessa tag -->
                            {% csrf_token %}

                            <!-- Nome -->
                                                        
                            {% for field in form %}
                                <div class="input-group mb-3">
                                    
                                    <span class="input-group-text">{{field.label}}
                                        {% if field.field.required %}
                                            <span style="color: red;" class="required">*</span>
                                        {% endif %}
                                    </span>                                    
                                    {% render_field field  class+="form-control" %}
                                    
                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                        </div>
                                    {% endfor %}
                                </div>                                
                            {% endfor %}

                            {{ formset.management_form }}                  
                          


                            {{ formset.management_form }}
                            <script type="text/html" id="items-template">  // id="inlineformsetname-template"
                                // id='inlineformsetname-__prefix__' 
                                <tr id="items-__prefix__" class= hide_all>
                                    {% for fields in formset.empty_form.hidden_fields %}
                                        {{ fields }}
                                    {% endfor %}
                                
                                    {% for fields in formset.empty_form.visible_fields %}
                                        <td>{{fields}}</td>
                                    {% endfor %}
                                </tr>
                            </script>
                            <div class="table-responsive card mt-4">
                                <div class="card-header card-header-secondary">
                                    <h4 class="card-title">Adicionar Itens</h4>
                                </div>
                                <table class="table card-header">
                                    <thead class="text-secondary">
                                        <th>Descrição <span style="color: red;" class="required">*</span></th>
                                        <th>Preço <span style="color: red;" class="required">*</span></th>
                                        <th>Cancelado <span style="color: red;" class="required">*</span></th>
                                        <th>Observação</th>
                                        <th>Ações</th>
                                    </thead>
                                    <tbody id="item-items">  <!-- id="item-inlineformsetname" -->
                                        <!-- formset non forms errors -->
                                        {% for error in formset.non_form_errors %}
                                            <span style="color: red">{{ error }}</span>
                                        {% endfor %}
                                        {% for formss in formset %}
                                            {{ formss.management_form }}
                                            <tr id="items-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                                {{ formss.id }}
                                                {% for field in formss.visible_fields %}
                                                    <td>
                                                        {{field}}
                                                        {% for error in field.errors %}
                                                            <span style="color: red">{{ error }}</span>
                                                        {% endfor %}
                                                        
                                                        {% comment %} {{ field.DELETE }} {% endcomment %}
                                                    </td>
                                                {% endfor %}
                                                {% comment %} for delete {% endcomment %}
                                                {% if formss.instance.pk %}
                                                    <td>
                                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{formss.instance.pk}}">
                                                            Apagar
                                                        </button>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Você tem certeza que deseja apagar o item?</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <a href="{% url 'website:delete_item' formss.instance.pk %}" class="btn btn-danger">Apagar</a>
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </td>            
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <a href="#" id="add-item-button" class="btn btn-secondary add-items">Mais Itens</a> <!-- id="add-inlineformsetname-button" -->
                            </div>



                            <hr>
                            <div class="text-end">
                                <a href="{% url 'website:lista_pedidos' %}" class="btn btn-outline-primary">Voltar</a>
                                <button class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function() {
        // when user clicks add more btn of images
      $('.add-images').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-images').children().length;
          var tmplMarkup = $('#images-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-images').append(compiledTmpl);
  
          // update form count
          $('#id_images-TOTAL_FORMS').attr('value', count+1);
      });
  });

  $(document).ready(function() {
    // when user clicks add more btn of items
      $('.add-items').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-items').children().length;
          var tmplMarkup = $('#items-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-items').append(compiledTmpl);
  
          // update form count
          $('#id_items-TOTAL_FORMS').attr('value', count+1);
      });
  });
</script>
{% endblock %}